@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    background-color: #333;
    color: #fff;
}

header div {
    line-height: 3vw;
    background-color: #3366c5;
}

header span {
    margin: 0em 3em 0em 3em;
}

h1 {
    margin: 1em;
}

.profile-image {
    width: 20vw;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.full-width {
    width: 75vw;
}

nav, section {
    /* font-size: 2rem; */
    margin: 7em;
    border: 2px solid #fff;
    border-radius: 2vw;
    line-height: 4vw;
    background-color: #3366c5;
}

p {
    line-height: 2vw;
    margin: 1em;
}

nav h2 {
    background-color: #3366c5;
    border-radius: 2vw 2vw 0 0;
}

a {
    color: #ffffff;
    padding: .4vw;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
}

a:link {
    background-color: #3366c5;
}

a:visited {
    background-color: #3366c5;
}

a:hover {
    background-color: #5e81c4;
}

a:active {
    background-color: #8ca2cc;
}

li {
    list-style: none;
    border-top: 2px solid #fff;
}

li a {
    display: block;
    text-decoration: none;
    padding: 0vw;
    border-radius: 0;
}

li:last-child a {
    border-radius: 0 0 2vw 2vw;
}

li a:link {
    background-color: #4171ca;
    color: #fff;
}

li a:visited {
    background-color: #6f8dc5;
    color: #fff;
}

li a:hover {
    background-color: #2860c7;
    color: #fff;
}

li a:active {
    background-color: #084dcc;
    color: #fff;
}

.full-video {
    width: 75vw;
    height: 42vw;
}
