* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5vw;
    text-align: center;
    background-color: #333;
    color: #fff;
}

header div {
    line-height: 3vw;
    background-color: #333dc5;
}

header span {
    margin: 0em 3em 0em 3em;
}

h1 {
    margin: 1em;
}

.profile-image {
    width: 20vw;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.full-width {
    width: 75vw;
}

nav, section {
    /* font-size: 2rem; */
    margin: 7em;
    border: 2px solid #fff;
    border-radius: 2vw;
    line-height: 4vw;
    background-color: #333dc5;
}

nav h2 {
    background-color: #333dc5;
    border-radius: 2vw 2vw 0 0;
}

li {
    list-style: none;
    border-top: 2px solid #fff;
}

li a {
    display: block;
    text-decoration: none;
}

li:last-child a {
    border-radius: 0 0 2vw 2vw;
}

li a:link {
    background-color: rgb(80, 87, 189);
    color: #fff;
}

li a:visited {
    background-color: rgb(104, 109, 187);
    color: #fff;
}

li a:hover {
    background-color: rgb(41, 51, 185);
    color: #fff;
}

li a:active {
    background-color: rgb(18, 29, 180);
    color: #fff;
}

a:link {
    color: #FFE082;
}

a:visited {
    color: #FFD54F;
}

a:hover {
    color: #FFCA28;
}

a:active {
    color: #FFB300;
}
